node_modules/
lib/
*.log
.DS_Store
.env
coverage/
bin/

# JetBrains IDEs
.idea/
*.iml
*.iws
*.ipr
out/

# nektos/act inputs and outputs
.secrets
.vars
sync-cache

# directory used by sync script
.sync-cache